@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #fbf2e6;
}
/* barra de nabegación>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
nav{
    background: #202020;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #f7be21;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* banner>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.container{
    width: 100vh;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    margin-top: 15px;
}

img {
    width: 100%;
    box-shadow: 0px 3px 5px #1d1d1d;
}

.banner-inicio{
    border-radius: 15px;
}


/* fin de lineas de banner>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .nav1{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c2c2c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #f7be21;
    }
    #check:checked ~ ul{
        left:0;
    }
    .container{
        width: 100%;
        padding: 2px;
    }
}
/* fin de la barra de navegación>>>>>>>>>>>>>>>>>>>>> */

.productos-lacteos {
    padding: 2em;
    background-color: #fff;
}

.introduccion {
    text-align: center;
    margin-bottom: 2em;
}

.introduccion h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 0.5em;
}

.introduccion p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
}

/* Estilo para el índice de productos */
.productos-categorias {
    margin-bottom: 2em;
}

.productos-categorias h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 1em;
}

.productos-categorias ol {
    padding-left: 20px;
    font-size: 1.1em;
    color: #452e2e;
    margin-bottom: 2em;
}

.productos-categorias  {
    color: #4f4e4c;
    text-decoration: none;
}
.productos-categorias-1 a {
    color: #f5b80f;
    text-decoration: none;
}

.productos-categorias a:hover {
    text-decoration: none;
}

/* Estilo para las tarjetas de productos */
.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: space-between;
}

.producto-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px #0000001a;
    overflow: hidden;
    width: calc(33% - 1.5em); 
    box-sizing: border-box;
    text-align: center;
    position: relative;
    height: 600px;
}

.producto-card img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    display: block;
    margin: 0;
}

.producto-card h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.producto-card p {
    font-size: 1em;
    color: #666;
    padding: 0 1em;
    margin-bottom: 1em;
}

.btn {
    color: #343030 !important;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #f5b80f;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.2em;
    margin-bottom: 1em;
}


.btn:hover {
    background-color: #e6a119;
}
.tittle-1{

    position: relative;
    text-align: center;
    background-color: #464444;
    padding: 15px;
    margin-top: 2%;
}
.tittle-2{
    background-color: #e6a119;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.indice{
    text-align: center;
}

@media (max-width: 798px) {
    .producto-card {
        width: calc(50% - 1.5em);
        height: 100%;
    }
}

@media (max-width: 480px) {
    .producto-card {
        width: 100%;
        height: 100%;
    }
}



/*  footer  */
.footer {
    position: relative;
    width: 100%;
    background: #151515;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  
.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
.menu-elem {
    list-style: none;
}
.menu-icon {
    color: rgb(253, 252, 252);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
  
.menu-icon:hover {
    opacity: 1;
}
  
.text {
    color: rgb(226, 189, 7);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

/* fin del footer>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: 768px){
    .galeria-grid{
        grid-template-columns: 1fr;
    } 
}
@media (min-width: 769px) and (max-width: 1024px){
    .galeria-grid{
        grid-template-columns: repeat(2,1fr);
    }
}



