@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url("../image/image.png");
}
/* barra de nabegación>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
nav{
    background: #202020;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #f7be21;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
  
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .nav1{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #2c2c2c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #f7be21;
    }
    #check:checked ~ ul{
        left:0;
    }
}
/* fin de la barra de navegación>>>>>>>>>>>>>>>>>>>>> */

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}
.slide{
    width: 100vw;
    max-width: 1000px;
    height: 720px;
    overflow: hidden;
    border-radius: 10px;
}
.slide ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out
}

.img-slide{
    width: 1000px;
}

@keyframes slide {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}

    50%{margin-left:-200%;}
    70%{margin-left:-200%;}


    75%{margin-left:-300%;}
    100%{margin-left:-300%;}
}

@media(max-width:991px) {
    
    .slides{
        width: 100%;
    }
   .img-slide{
    width: 100%;
   }
}

@media (max-width: 397px){
    .container{
        height: auto;
    }
}

/* fin del banner del banner carrusel>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* presentacion>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.historia {
    padding: 20px;
    background-color:  #fbf2e6;
    text-align: center; 
    height: auto;
}

.historia h2 {
    margin-bottom: 10px;
    color: #353535;
}

.historia-contenido {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.historia-contenido img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 15px;
}

.historia-contenido p {
    text-align: justify; 
    line-height: 1.6; 
    max-width: 800px; 
    margin: 0 auto 20px; 
    padding: 0 10px; 
}

@media (max-width: 768px) {
    .historia-contenido {
        padding: 0 10px; 
    }

    .historia-contenido p {
        max-width: 100%; /
    }
}

/* fin del presentación>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Estilos generales para asegurar que el mapa ocupe el 100% del ancho de la pantalla en dispositivos pequeños */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.ubicacion {
    background-color: #fbf2e6;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    box-sizing: border-box;
}

.ubicacion h2 {
    margin: 0; 
    padding: 1em; 
    text-align: center;
}

/* Ajustes para el contenedor del mapa */
#mapa {
    position: relative;
    width: 100%;
    height: 100%; 
}

/* Estilo para el iframe para asegurarse de que ocupa todo el contenedor */
#mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */

/* Para pantallas grandes (escritorios y dispositivos más grandes) */
@media (min-width: 1025px) {
    #mapa {
        width: 60%;
        height: 60%;
    }
}


.redes-sociales {
    background-color: rgb(234, 217, 196);
    text-align: center;
    padding: 2em;
    height: 15%;
}

.redes-sociales h2 {
    margin-bottom: 1em;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #1b1c1c;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
}

.social-icon:hover {
    background-color: #d8af0b;
}



.footer {
    position: relative;
    width: 100%;
    background: #151515;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  
.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
.menu-elem {
    list-style: none;
}
.menu-icon {
    color: rgb(253, 252, 252);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
  
.menu-icon:hover {
    opacity: 1;
}
  
.text {
    color: rgb(226, 189, 7);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
/* fin del footer>>>>>>>>>>>>>>>>>>>>> */